/*----- STYLES general -----*/
*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/*----- STYLES cabecera de pagina -----*/
header{
    background-color: rgba(0, 140, 255, 0.226);
}

.caja img{
    width: 85px;
}

.caja{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.caja h1{
    color: #bfff00;
}

.caja h2{
    color: #bfff00;
}

/*----- STYLES cuerpo de pagina -----*/
body{
    width: 100vw;
    height: 100vh;
    background: url(imagenes/bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monospace;
}

section{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    border: 0px;
    border-radius: 5px;
}

.area-1{
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.area-2{
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 15 0 15 0;
    border-radius: 5px;
}

.caja2{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 0 0 0;
    background: white;
    padding: 30px;
    border-radius: 5px;
}

.boton-e, .boton-d, .boton-c{
    padding: 5px;
    border-radius: 8px;
    color: black;
    
}

button:hover{
    transform: scale(0.95);
    transition: (0.6s);
    cursor: pointer;
}

.boton-e{
    background-color: #00FF5D;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
}

.boton-d{
    background-color: #BDE619;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
}

.boton-c{
    font-weight: bold;
    padding: 15px 20px 15px 20px;
}

.boton-e, .boton-d, .boton-c{
    margin-top: 15px;
    margin-bottom: 15px;
}

section{
    display: flex;
    width: 100vw;
}

/*----- STYLES pie de pagina -----*/
footer{
    background-color: rgba(0, 140, 255, 0.226);
    text-align: center;
    color: #bfff00;
    padding: 5px;
}

footer h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

#Github{
    margin: 2px;
    width: 27px;
}

#LinkedIn{
    margin: 2px;
    width: 27px;
}

@media screen and (max-width: 800px){
    h1{
        text-align: center;
    }

    nav{
        position: auto;
    }

    section{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .caja2{
        margin: 15px 0px 15px 0px;
    }

    .botones1{
        display: flex;
        flex-direction: column;
    }

    .boton-e, .boton-d{
        margin: 5px;
    }

    #texto{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px){
    .sub-encriptador{
        display: none;
    }

    .area-2 img{
        width: 200px;
    }

    .area-2 div{
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
        border-radius: 5px;
        width: 200px;
    }

}

@media screen and (max-width: 375px /*350px*/){
    body{
        width: 100%;
    }
    
    section{
        margin: 0 0 0 0;
    }

    .caja h1{
        margin-bottom: 15px;
    }
    
    .caja{
        flex-direction: column;
    }

    .caja2{
        margin-top: 0px;
    }

    .area-1{
        margin: 15px 0px 15px 0px;
    }

    .botones1{
        width: 60%;
    }

    .botones1 button{
        height: 70px;
    }

}
